.container{
    position: relative;
    display: flex;
    flex-direction: column;
    top:100px;
    left:450px;
   
    width:500px;
    height:250px;
}
body{
    height: 670px;
    width: 90%;
    background-image: url("https://wallpaperaccess.com/full/2666319.jpg");
}
.a{
    margin:10px;
  
    flex-basis: 30px;
}
input[type=text]{
    width: 100%;
    height: 80%;
}

.text{
    
    margin-top:5px;
    font-size: small;
    
    flex-basis: 20px;
}
button{
    width: 100%;
    height: 100%;
    background-color: yellow;
    font-size: large;
    font-weight: 500;
}